__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# virtual env
venv/
env/
ENV/
.venv/

# env viriable
*.env
backend/.env

*.py[cod]
*$py.class

.cache/
cache/

.DS_Store
Thumbs.db
.vscode/
.idea/

.log

docker-data/
*.pid

nginx/*.temp

build/
dist/
*.egg-info/